.profile-container {
    padding: 2rem 10% 5% 10%;
    background-color: white;    
    
}


.profile-h1{
    border-top: 2px solid #BAB2E7;
    padding-top: 2rem;
    
}
.aboutMe-aboutMe{
    margin-top: 21px;
}